//BOJE

$color-primary: #51adcf;
$color-primary-light: #a5ecd7;
$color-primary-dark: #0278ae;
$color-primary-dark-2: #004464;

$color-secondary: #544183;
$color-secondary-dark: #32274e;
$color-secondary-light: #877aa8;

$color-teritiary: #dd7e47;
$color-teritiary-dark: #9a5831;
$color-teritiary-light: #e7a47e;
$color-teritiary-1: #fc8403;

$color-grey-light-1: #f7f7f7;
$color-grey-dark-1: #999;

$color-grey-dark: #777;
$color-black: #000;
$color-black-2: rgb(42, 64, 87);
$color-white: #fff;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//font
$default-font: 1.6rem;
