.composition {
  position: relative;
  @include respond(tab) {
    left: 1.6rem;
    top: 5rem;
  }

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: 0.2s;
    outline-offset: 0.3rem;

    @include respond(tab) {
      float: left;
      position: relative;
      width: 50%;
      box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
    }

    &--p1 {
      left: -5%;
      top: -2rem;

      @include respond(tab) {
        top: 0;
        transform: scale(1.2);
        left: -5rem;
      }
    }

    &--p2 {
      left: 20rem;
      top: -10rem;
      @include respond(tab) {
        top: 0;
        transform: scale(1.2);
        left: 2rem;
      }
    }

    &--p3 {
      left: 10%;
      top: 20rem;
      @include respond(tab) {
        top: -40rem;
        left: 10rem;
        transform: scale(1.3);
      }
    }

    &:hover {
      outline: 1rem solid $color-primary;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
