*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //defines what 1rem is
  font-size: 62.5%;

  @include respond(tab-lan) {
    font-size: 56.25%;
  }

  @include respond(tab) {
    font-size: 50%;
  }

  @include respond(big-d) {
    font-size: 75%;
  }

  @include respond(phone) {
    width: 10px;
  }
}

body {
  box-sizing: border-box;
  padding: 0.5rem;

  @include respond(tab) {
    font-size: 50%;
    padding: 0;
    width: 500px;
  }
}
